Source: gstreamer1.0-rockchip-extra
Priority: optional
Maintainer: Jacob Chen <jacob2.chen@rock-chips.com>
Build-Depends: debhelper (>= 9), autotools-dev,
  pkg-config,
  libgstreamer1.0-dev (>= 1.8.0),
  libgstreamer-plugins-base1.0-dev (>= 1.8.0),
  libx11-dev,
  libdrm-rockchip1,
  librockchip-mpp-dev,
  librockchip-mpp1,
  librockchip-vpu0,
  liborc-0.4-dev (>= 0.4.16),
  libglib2.0-dev (>= 2.32.0)
Standards-Version: 3.9.8
Section: libs
Homepage: http://www.rock-chips.com/
#Vcs-Git: https://anonscm.debian.org/collab-maint/gst-plugins-rk-intel.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/gst-plugins-rk-intel.git

Package: gstreamer1.0-rockchip1-extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Extra Gstreamer plugins for Rockchip platform.
